@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#bg__pattern {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #19a2ae;
    background-image: url('./assets/images/bg-pattern-top.svg'), url('./assets/images/bg-pattern-bottom.svg');
    background-repeat: no-repeat;
    background-position: -182vw -74vh, 20vw 50vh;
}
@media (min-width: 425px){
    #bg__pattern {
        background-position: -155vw -70vh, 50vw 45vh;
    }
}
@media (min-width: 545px){
    #bg__pattern {
        background-position: -70vw -70vh, 50vw 45vh;
    }
}
@media (min-width: 1024px){
    #bg__pattern {
        background-position: -40vw -70vh, 50vw 45vh;
    }
}
@media (min-width: 1440px){
    #bg__pattern {
        background-position: -20vw -70vh, 50vw 45vh;
    }
}